/*Главная*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', "Arial", sans-serif;
  font-size: 16px;
  color: #000000;
  font-weight: normal;
  background-color: #859e90;;
}

body > input[type="radio"] {
  display: none;
}

.wrapper::before,
.wrapper::after {
  content: "";

  visibility: hidden;
}

.wrapper::before {
  background-image: url("../img/slide-2.png");
}

.wrapper::after {
  background-image: url("../img/slide-3.png");
}

.wrapper {
  min-width: 1200px;
  max-width: 1200px;
	margin: 0 auto;
  background-color: #859e90;
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-position-y: 83px;
  padding: 0 27px;
  transition: background-image 0.5s ease,
  	background-color 0.5s ease;
  display: flex;
  flex-direction: column;
}

.catalog-wrapper {
	min-width: 1200px;
  max-width: 1200px;
	margin: 0 auto;
  background-color: #859e90;
  //background-image: url("../img/slide-1.png");
  //background-repeat: no-repeat;
  //background-position: top center;
  //background-position-y: 83px;
  //padding: 0 27px;
  //transition: background-image 0.5s ease,
  	//background-color 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*.main {
	width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}*/

a {
  text-decoration: none;
}

.site-link {
  color: #ffffff;
  border-bottom: 1px solid #a0b4a9;
}

.main-footer a:hover,
.main-footer a:focus {
  color: #ffbc9e;
}

button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  border: none;
}

button:hover,
button:focus {
  background-color: #f38167;
}

.slider-slogan {
  width: 700px;
  font-size: 60px;
  font-weight: 800;
  line-height: 60px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.offer-card-slogan,
.title {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color: white;
}

.header-menu,
.header-submenu,
.header-user,
.main-footer-social {
  list-style-type: none;
}

.header-menu {
  line-height: 18px;
  font-weight: bold;
}


/*Подменю*/
.header-menu li {
	//display: inline-block;
	position: relative;
}

.header-submenu a {
  display: block;
	//margin-left: -1px;
  padding: 8px 10px;
}

.header-submenu {
  background-color: #fff;
  position: absolute;
  //top: 25px;
	border-radius: 5px;
	width: 142px;
	display: none;
}

.header-submenu li:first-child {
	border-bottom: 1px solid #d1d0ce;
}

.header-submenu a:hover,
.header-submenu a:focus {
  background-color: rgba(255, 0, 0, 0.2);
}

.header-submenu li:active {
  background-color: rgba(255, 0, 0, 0.4);
}

.header-menu li:hover .header-submenu {
	display: block;
}

.header-submenu a {
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  border-bottom: none;
  font-weight: normal;
}

.header-user {
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
}

.header-contacts {
	
}

.work-time {
  color: white;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

.work-phone {
  color: white;
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
}
.slider {
	position: relative;
	padding-top: 270px;
	text-align: center;
	color: #ffffff;
}

.slide {
	display: none;
}

.slider-buttons label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .wrapper #slide1,
#btn-2:checked ~ .wrapper #slide2,
#btn-3:checked ~ .wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
}

#btn-2:checked ~ .wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
}

#btn-3:checked ~ .wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png");
}


#btn-1:checked ~ .wrapper label[for="btn-1"],
#btn-2:checked ~ .wrapper label[for="btn-2"],
#btn-3:checked ~ .wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

.slider-buttons {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

/*.slide {
  background-image: url("../img/slide-1.jpg");
  background-repeat: no-repeat;
  background-size: auto auto;
  width: 100%;
}*/

.btn {
  font-size: 18px;
  line-height: 24px;
  color: white;
  background-color: #ed5a3d;
  border-radius: 150px;
  padding: 3px 20px;
}

.slider-btn {
	display: inline-block;
  padding: 12px 50px;
  font-size: 31px;
  line-height: 41px
  vertical-align: top;
  color: #ffffff;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slider-btn:hover {
  background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-btn:active {
  background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.main-hits {
	margin-top: 40px;
}

.main-hits-img {
	position: relative;
}

.main-hits-img svg {
	position: absolute;

}

.main-hits-img img {
  max-width: 100%;
  border-radius: 50%;
}

.offer-card {
  width: 560px;
  height: 230px;
  border-radius: 15px;
}

.offer-card-raspberries {
  background-image: url("../img/banner-1.jpg");
  background-repeat: no-repeat;
}

.offer-card-chocolate {
  background-image: url("../img/banner-2.jpg");
  background-repeat: no-repeat;
}

.offer-card-text {
  color: white;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.main-hits-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  color: white;
}

.main-hits-name {
  color: white;
}

.shop-description {
  background-image: url("../img/wafer.jpg");
  width: 1150px;
  border-radius: 15px;
}

.shop-slogan {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.shop-description-text {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

/*Эксперимент с блоком, кажется успешный*/

.main-blog-news {
  background-image: url("../img/strawberry-background.jpg");
  background-repeat: no-repeat;
  color: #323232;
  width: 560px;
  height: 220px;
  border-radius: 15px;
}

.blog-news-caption {
  font-size: 16px;
  line-height: 22px;
}

.blog-news-methods {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  border-bottom: 1px solid black;
}

.main-blog-info {
  background-image: url("../img/border-dispatch.jpg");
  background-repeat: no-repeat;
  width: 560px;
  height: 220px;
  border-radius: 15px;
}

.site-input {
  font: inherit;
  padding: 5px;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.site-input:focus {
  border: 1px solid #8fbdec;
}

.log-in-input,
.modal-search {
  font-size: 14px;
  line-height: 24px;
}

.main-blog-info-slogan {
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

.contacts-adress,
.phone-order,
.open {
  font-size: 14px;
  line-height: 20px;
}

.street,
.phone-number {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.footer-menu {
  list-style: none;
  font-size: 13px;
  line-height: 18px;
}

.main-footer-copyright {
  font-size: 12px;
  line-height: 18px;
}

.footer-copyright-academy {
  color: #ffffff;
}


/*Каталог*/

.catalog {
  font-size: 16px;
  line-height: 18px;
}

.item:hover	 {
  background-color: rgba(254, 254, 254, 0.4);
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
}

.item-button {
	display: inline-block;
  padding: 12px 15px;
  font-size: 18px;
  line-height: 24px
  font-weight: bold;
  vertical-align: top;
  color: #ffffff;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

/*.item:hover .item-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  background-color: #f16642;
  color: #fefefe;
}*/

.price {
	font-size: 45px;
	line-height: 45px;
	color: #ffffff;
	font-weight: bold;
	text-align: baseline;
}

.price span {
	font-size: 30px;
	line-height: 45px;
}

.item-title {
	font-size: 16px;
	line-height: 22px;
	font-weight: medium;
	color: #ffffff;
	text-align: center;
}

.header-button {
  background-color: #a1b4a9;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
}

.header-button:hover {
  background-color: #f7f6f3;
  color: #333333;
}

.breadcrumbs {
  list-style: none;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.filter-btn {
  background-color: #9cb0a4;
  font-size: 16px;
  line-height: 18px;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: #fbfcfb;
  color: #323232;
}

.pagination-links {
  list-style: none;
}

.pagination-item {
  border-bottom: none;
}

.pagination-item-active {
  background-color: #ffffff;
  color: #353535;
}

.pagination-item:hover,
.pagination-item:focus {
  background-color: #9db1a5;
}

.pagination-item:active {
  background-color: #ffffff;
  color: #353535;
}

.filter-label {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px font-weight: 500;
}

.filter-label-option {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

.filter-options {
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  color: #ffffff;
  background-color: #9db1a5;
  border: none;
}

.filter-options:hover {
  background-color: #ffffff;
  color: #323232;
}

.filter-option {
  font: inherit;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}

.filter-range:hover {
  cursor: pointer;
}

.filter-form label:hover,
.filter-form input:hover,
.filter-form select:hover {
  cursor: pointer;
}

/*Модальные окна*/

.modal {
  background-color: #f8f7f4;
}

.modal-feedback-slogan {
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.modal-log-in-btn {
  font-size: 13px;
  line-height: 24px;
  border-bottom: 1px solid #adacaa;
  color: #adacaa;
}

/*Сетки*/

.header {
	width: 100%;
}

.header-container {
  min-height: 83px;
}

.header-navigation,
.header-menu,
.header-user {
  display: flex;
  justify-content: space-between;
}

.header-menu {
  width: 560px;
  //justify-content: space-around;
  align-items: center;
}

.header-user {
  width: 267px;
  justify-content: space-around;
  align-items: center;
}

.offer .container {
  display: flex;
  justify-content: space-between;
}

.main-hits .container {
  display: flex;
  justify-content: space-around;
}

.shop-description {
  margin: 0 auto;
}

.main-blog-wrapper {
	width: 1150px;
  display: flex;
  justify-content: space-around;
}

.main-footer .container {
  display: flex;
  justify-content: space-around;
  height: 102px;
  align-items: center;
}

.footer-social-icon {
  width: 320px;
  display: inline-block;
  width: 40px;
  height: 40px;
  //background-color: transparent;
}

.footer-svg {
	border: 2px solid #c2cec7;
  border-radius: 50%;
  padding: 1px;
}

.main-footer-links {
  width: 560px;
}

.main-footer-copyright {
  width: 294px;
}

.main-footer-links {
  display: flex;
  justify-content: space-around;
  width: 586px;
}

/*Сетки для Каталога */

.breadcrumbs li {
  display: inline-block;
}

.catalog-items {
  display: flex;
  justify-content: space-around;
  width: 1200px;
  flex-wrap: wrap;
  color: white;
}

.catalog-item {
  width: 267px;
  //height: 405px;
}

.item-img {
	padding-top: 35px;
}

.item-img img {
  border-radius: 50%;
}

.pagination {
  display: flex;
  flex-direction: row-reverse;
}

.pagination .container,
.pagination-links {
  display: flex;
}
