/*Главная*/
* {
	margin: 0;
	padding: 0;
}
body {
	font-size: 16px;
	color: #000000;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
	background-color: #859e90;
}
a {
	text-decoration: none;
	color: #ffffff;
	border-bottom: 1px solid #a0b4a9;
}
.slider-slogan {
	font-size: 60px;
	line-height: 60px;
	color: white;
	font-weight: bold;
}
.offer-card-slogan, .title {
	font-size: 35px;
	line-height: 41px;
	font-weight: bold;
	color: white;
}
.header-menu, .header-submenu, .header-user {
	list-style-type: none;
}
.catalog:hover,
.icon-find:hover,
.icon-log-in:hover {
	background-color: #f7f6f3;
}
.header-menu {
	line-height: 18px;
	font-weight: bold;
}
.header-user {
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
}
.work-time {
	color: white;
	font-size: 14px;
	line-height: 16px
	font-weight: bold;
}
.work-phone {
	color: white;
	font-size: 22px;
	line-height: 24px;
	font-weight: bold;
}


.slide1 {
	//background-image: url("../img/slider-ice-cream.gif");
	//background-repeat: no-repeat;
	//background-size: auto auto;
	//width: 645px;
	//height: 585px;
	//background-position: 0 0;
}
.slide2 {
	background-image: url("../img/slide-2.jpg");
	background-repeat: no-repeat;
	background-size: auto auto;
	width: 645px;
	height: 565px;
	background-position: -215px 0;
}
.slide3 {
	background-image: url("../img/slide-3.jpg");
	background-repeat: no-repeat;
	background-size: auto auto;
	width: 645px;
	height: 565px;
	background-position: -215px 0;
}
.slide-btn {
	font-size: 32px;
	line-height: 44px;
	color: white;
	background-color: #ed5a3d;
}

.main-hits-img img {
	max-width: 100%;
	border-radius: 50%;
}

.offer-card-text {
	color: white;
}
.offer-card-btn {
	background-color: #ed5a3d;
}



.main-hits {
	color: white;
}
.price {
	font-size: 45px;
	line-height: 45px
	font-weight: bold;
}


.shop-description {
	background-image: url("../img/wafer.jpg");
}
.shop-slogan {
	font-size: 24px;
	line-height: 30px;
	color: #323232;
}
.shop-description-text {
	font-size: 16px;
	line-height: 22px
	color: #323232;
}

/*Эксперимент с блоком, кажется успешный*/
.main-blog-news {
	background-image: url("../img/strawberry-background.jpg");
	background-repeat: no-repeat;
	color: #323232;
	width: 560px;
	height: 220px;
	border-radius: 15px;
}
.blog-news-caption {
	font-size: 16px;
	line-height: 22px;
}
.blog-news-methods {
	font-size: 24px;
	line-height: 30px;
	color: #323232;
	border-bottom: 1px solid black;
}


.main-blog-info {
	background-image: url("../img/border-dispatch.jpg");
	background-repeat: no-repeat;
	width: 560px;
	height: 220px;
	border-radius: 15px;
}
.main-blog-info-slogan {
	font-size: 16px;
	line-height: 22px;
	color: #5a5a5a;
}

.contacts-adress, .phone-order, .open {
	font-size: 14px;
	line-height: 20px;
}
.street, .phone-number {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
}

.footer-menu {
	list-style: none;
	font-size: 13px;
	line-height: 18px;
}

.footer-academy-link {
	 border-bottom: none;
}
.footer-academy {
	border-bottom: 1px solid #a0b4a9;
}

/*Каталог*/
.breadcrumbs {
	list-style: none;
	font-size: 14px;
	line-height: 16px;
}

.ice-cream-catalog {
	color: white;
}
.price + p {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
}

.pagination-links {
	list-style: none;
}

.pagination-item {
	border-bottom: none;

}
.filter label {
	color: white;
	font-size: 16px;
	line-height: 18px
	font-weight: 500;
}

.filter-label, .filter-no-link {
	color: white;
	font-size: 14px;
	line-height: 16px
	font-weight: bold;
}





